JWT_SECRET=generate-a-long-random-secret
ADMIN_EMAIL=admin@djelong.com
ADMIN_PASSWORD_HASH=generate-a-bcrypt-hash-not-the-plain-password
OBS_BUCKET=djelong-papiers-web-2026
OBS_ENDPOINT=https://obs.af-south-1.myhuaweicloud.com
OBS_ACCESS_KEY_ID=create-an-iam-key-limited-to-this-bucket
OBS_SECRET_ACCESS_KEY=create-an-iam-key-limited-to-this-bucket
ALLOWED_ORIGIN=https://djelong.com
